html, body {
    background-color: #d0dadf;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

textarea {
    resize: none;
    font-size: 18px;
}

.Resizer {
  background: #000;  /* default color */
  opacity: 1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.main-container {
  height: 100%;
}

.header-title {
  text-align: left;
  margin: 10px;
}

.col-container {
  height: 100%;
  overflow-y: auto;
}

.left-col {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.modal-container {
  display: none;
}

.prompt-field {
  max-height: 40vh;
  overflow-y: auto;
}

.dist-list {
  max-height: 40vh;
  overflow-y: auto;
}

.dist-graph {
  height: 100px;
  background: #829198;
}

.view-container {
  height: 100%;
}

.view-items {
  margin-bottom: 0px;
}

.view {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  /* max-height: 400px; */
}

.cluster-field {
  width: 100%;
  height: 512px;
  background-color: transparent !important;
  border: none !important;
}

.image-field {
  width: 100%;
  height: 512px;
  background-color: transparent !important;
  border: none !important;
  text-align: center;
  line-height: 512px;
  color: #666;
}

.gen-image {
  max-width: 1024px;
  max-height: 768px;
}

.history-panel {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  white-space: nowrap;
  max-height: 80vh;
}

.history-entry {
  min-width: 200px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.hist-entry-button {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.history-image {
  width: 100%;
  object-fit: cover;
}

.history-prompt {
  color: #000;
}