html, body {
    background-color: #d0dadf;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

textarea {
    resize: none;
    font-size: 18px;
}

.Resizer {
  background: #000;  /* default color */
  opacity: 1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.main-container {
  height: 100%;
}

.header-title {
  text-align: left;
  margin: 10px;
}

.col-container {
  height: 100%;
  overflow-y: auto;
}

.left-col {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.modal-container {
  display: none;
}

.history-panel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px;
  height: 100%;
  white-space: nowrap;
}
