html, body {
    background-color: #d0dadf;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

textarea {
    resize: none;
    font-size: 18px;
}

.Resizer {
  background: #000;  /* default color */
  opacity: 1;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.main-container {
  height: 100%;
}

.header-title {
  text-align: left;
  margin: 10px;
}

.col-container {
  height: 100%;
  overflow-y: auto;
}

.left-col {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.modal-container {
  display: none;
}

.prompt-field {
  max-height: 40vh;
  overflow-y: auto;
}

.dist-list {
  max-height: 40vh;
  overflow-y: auto;
}

.dist-graph {
  height: 100px;
  background: #829198;
}

.view-container {
  height: 100%;
}

.view-items {
  margin-bottom: 0px;
}

.view {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  /* max-height: 400px; */
}

.cluster-field {
  width: 100%;
  height: 512px;
  background-color: transparent !important;
  border: none !important;
}

.image-field {
  width: 100%;
  height: 512px;
  background-color: transparent !important;
  border: none !important;
  text-align: center;
  line-height: 512px;
  color: #666;
}

.gen-image {
  max-width: 512px;
  max-height: 512px;
}

.history-panel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 10px;
  height: 100%;
  white-space: nowrap;
}

.history-entry {
    width: 200px;
    height: 188px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hist-entry-button {
  border: none;
  background: none;
  text-align: left;
  width: 100%;
}

.history-prompt {
  color: #000;
}

.selected-history-entry {
    border: 3px solid #007bff !important;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.history-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
}

.prompt-hover {
    display: none;
    margin-top: 5px;
    font-size: 14px;
    color: #000;
}

.history-entry:hover .prompt-hover {
    display: block;
}

.history-prompt {
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
}

.prompt-wrapper {
    position: relative;
    height: 100%;
}

.prompt-box {
    background-color: #f8f9fa;
    padding: 15px;
    padding-top: 40px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
    font-size: 16px;
}

.placeholder-text {
    font-size: 1.4rem;
    color: #888;
    text-align: center;
    margin-top: 180px;
}
